*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 60%;
    margin: auto;
}
header{
    text-align: center; 
}
header h1{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-weight: bold;
    color: rgb(246, 14, 88);
    padding-top: 10px;
    padding-bottom: 50px;
}
main{
    width: 100%;
    margin: auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col{
    background-color: black;
    width: calc(100% / 3 - 10px); 
    float: left;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.col:nth-child(3n) {
    margin-right: 0;
}
.col::after{
    content: "";
    display: table;
    clear: both;
}
/* dimensione immagini  */
img{
    height: 80px;
    width: 80px;
    float:left;
}
.info{
    float:left;
    color:white;
    padding:5px;
    line-height: 1.5;
}
.info h6{
    font-size: 16px;
    font-weight: bold;
}
.info div{
    font-size: 12px;
}
.info a {
    text-decoration: none;
}
